docutils==0.21.2
flaml==2.3.5
hyperopt==0.2.7
imbalanced_learn==0.12.3
lightgbm==4.6.0
matplotlib==3.7.5
numpy==1.26.0
pandas==2.2.3
pytest==8.3.5
ray==2.40.0
scikit_learn==1.6.1
scipy==1.5.4
seaborn==0.13.2
setuptools==73.0.1
tqdm==4.66.5
xgboost-cpu==3.0.2
openml==0.14.2
imbalanced-ensemble==0.2.2
autogluon.tabular==1.1.1